/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos específicos para pantallas móviles */

/* Logo */
.logo img {
    max-width: 100%;
    height: auto;
}

/* Circulo */
.circulo {
    height: 15vh;
    width: 15vh;
    background-color: aqua;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
    z-index: 5;
}

/* Contenedor */
.contenedor {
    min-height: 100vh;
}

/* Estilos generales */

/* Header */
.headerNav {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 20px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        color: #fff;
    }

    #menu-toggle:checked ~ .nav-links {
        display: block;
    }
}

/* Contenedor2 */
.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

/* Main */
main {
    padding: 100px;
    background-color: #f5f5f5;
}

.about {
    text-align: center;
    margin-bottom: 50px;
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.service-card {
    flex-basis: 30%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.service-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Contactos */
#contactos {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f5f5f5;
    text-align: center;
}

.contact-info,
.contact-form {
    flex-basis: 40%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
